<div class = "wrapper">

  <h2 class = "beer_index_title">My Nights
    <span><%= link_to "New Night", new_user_night_path, class:"new_night_link"%></span>
  </h2>
  <div>
    <% current_user.nights.each do |night| %>
    <div>
      <%= link_to night.title, user_night_path(current_user,night), class:"night_link" %>
    </div>
    <%end %>
  </div>
</div>
