<%= @night.title %>
<ul>
  <% @night.drinklists.each do |drinklist|%>
  <li><%= drinklist.beer.name %></li>
  <li><%= image_tag(drinklist.beer.photo_url)%></li>
  <%= link_to "Remove Beer From Night", user_night_drinklist_path(current_user,@night,drinklist), method: :delete%>
  <%end%>
</ul>
