/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-image: url('beerbar.jpg');
   background-repeat: no-repeat;
   background-size: cover;
 }

.span_title {
  font-size: .5em;
}

.sign_in {
  font-size: .5em;
  float: right;
}

li {
  list-style-type: none;
}

.beer_image {
  height: 10em;
  width: auto;
}

.div_beer_name {
  padding-top: 2%;
  font-size: 1em;
}

.index_nav a {
  color: white;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.edit_beer {
  font-size: .75em;
}

.beer_selector {
  background: white;
  border-radius: 8em;
  margin-top: 1em;
  width: 75%;
  margin-left: 15%;
}

a {
  text-decoration: none;
}

.show_beer_image {
  height: 10em;
  width: auto;
}

.container {
  text-align: center;
}

.nav {
  text-align: center;
  background-color: rgba(0, 0, 0,0.5);
}

.title {
  font-size: 2em;
  margin: auto;
}

.span_title {
  color: white;
}

.new_beer {
  margin: 0 auto;
  color: white;
}

.new_beer input {
  margin: 0 auto;
  text-align: center;
  display: block;
  color: black;
}

.new_beer {
  color: white;
}
