/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-image: url('beerbar.jpg');
   background-repeat: no-repeat;
   background-size: cover;
 }

 .container {
   margin-top: 5%;
 }

 .wrapper {
   background-color: white;
 }

 .age_check {
  background-color: blue;
 }

.span_title {
  font-size: .5em;
}

.sign_in a {
  font-size: 1.2em;
  float: right;
  padding-top: .25em;
  color: #ff9933;
  padding-left: .5em;
  padding-right: .5em;
}

li {
  list-style-type: none;
}

.beer_image {
  height: 10em;
  width: auto;
}

.div_beer_name {
  padding-top: 2%;
  font-size: 1em;
  color: #ff9933;
}

.li_beer_name {
  padding-top: 1%;
  font-size: 1.5em;
  color: #ff9933;
}

.index_nav {
  font-size: 1.2em;
  float: right;
  padding-right: .5em;
  padding-left: .5em;
  padding-top: .25em;
}

.index_nav a {
  color: #ff9933;
  border: 1px solid #ff9933;
  padding-left: .1em;
  padding-right: .2em;
}

.edit_beer_input {
  font-size: .75em;
}

.beer_selector {
  margin-top: 1em;
  margin-left: 15%;
}

a {
  text-decoration: none;
}

.show_beer_image {
  height: 10em;
  width: auto;
  margin-bottom: .4em;
  margin-top: .2em;
}

.container {
  text-align: center;
}

.nav {
  text-align: center;
  background-color: rgba(0, 0, 0,0.5);
}

.title {
  font-size: 2.2em;
  margin: auto;
  float: left;
}

.title a {
  color: #ff9933;
}

.span_title {
  color: white;
}

.new_beer {
  margin: 0 auto;
  color: #ff9933;
}

.new_beer input {
  margin: 0 auto;
  text-align: center;
  display: block;
  color: black;
}

.edit_beer {
  margin: 0 auto;
  color: #ff9933;
}

.edit_beer input {
  margin: 0 auto;
  text-align: center;
  display: block;
  color: black;
}

.beer_index_title {
  margin: 0 auto;
  color: #ff9933;
}

.beer_show {
  color: #888888
}

.review_text {
  color: black;
}

#user_image {
  text-align: center;
  margin-left: 46%;
}
